    .merch {
        .merch {
            background-color: rgba(0,0,0,.7);
            width: 90%;
            max-width: 1000px;
            margin: auto;
            padding: 10px;
            .entry {    
                text-align: center;
                width: 100%;
                
                .clicked {
                    display: block!important; background-color: rgba(0,0,0,.7);   
                }
                .product {
                    position: relative;
                    .clicked {
                        display: block!important;
                    }
                    img {
                        display: relative;
                        max-width: 100%;
                    }
                    h3 {
                        color: white;
                        margin: auto;
                        text-align: center;
                        background-color: rgba(0,0,0,.7);
                        display: none;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                    }
                }
                #description {
                    display: none;
                }                
            }
        }

    }
@media (min-width: 426px) {
    .merch {
        .merch {
            display: flex;
            justify-content: space-between;
            background-color: rgba(0,0,0,.7);
            width: 90%;
            max-width: 1000px;
            margin: auto;
            padding: 10px;
            .entry {
                width: 200px;     
                .product {
                    img {
                        max-height: 100px;
                        max-width: 100%;
                    }
                }
            }
        }
    }    
}