    .merch {
        .merch {
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(0,0,0,.7);
            width: 90%;
            max-width: 1000px;
            margin: auto;
            padding: 10px;
            .entry {    
                text-align: center;
                width: 100%;
                padding: 10px;
                .clicked {
                    display: block!important; background-color: rgba(0,0,0,.7);   
                }
                .product {
                    position: relative;
                    .clicked {
                        display: block!important;
                    }
                    img {
                        display: relative;
                        max-width: 100%;
                        border-radius: 10px;
                        &:active {
                            box-shadow: 0px 0px 5px red;
                        }
                    }
                    h3 {
                        color: white;
                        margin: auto;
                        text-align: center;
                        background-color: rgba(0,0,0,.7);
                        display: none;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                    }
                }
                #description {
                    display: none;
                    padding: 5px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }                
            }
        }

    }
@media (min-width: 426px) {
    .merch {
        .merch {
            display: flex;
            justify-content: space-between;
            background-color: rgba(0,0,0,.7);
            width: 90%;
            max-width: 1000px;
            margin: auto;
            padding: 10px;
            .entry {
                width: 200px;     
                .product {
                    img {
                        max-height: 275px;
                    }
                }
            }
        }
    }    
}