.navbardesk {
    display: none;
    background-color: red;
    justify-content: space-evenly;
    border-color: orange;
    a {
        display: flex;
        border-color: green ;
        p{
            margin: auto;
            font-weight: bold;
        }
    }
}