.mobile-nav {
    text-align: center;
    #navbar {
        background-color: black;
        button.hamburger{
            background-color: gray;
        }
        .collapse {   
            background-color: black;
            .dropdown-item {
                &:hover {
                    background-color: red;
                }
            }
            a {
               color: white;
            }
        }
    }
}