.mobile-nav {
    #navbar {
        background-color: black;
        button.hamburger{
            background-color: gray;
            
        }
        .collapse {
            text-align: center;
            background-color: black;
            .dropdown-item {
                &:hover {
                    background-color: red;
                }
            }
           a {
               color: white;
            }
        }
    }
}