* {
  // border: solid;
  // border-width: 1px;
  body {
    background-image: url('https://imgur.com/ifuLHXl.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  h1 {
    color: white;
  }
  p {
    color: white;
  }
  .logo-header-desktop {
    display: none;
    background-color: black;
  }
  .mobile-nav{
    
    .logo {
      img{
        height: 100px;
      }
    }
    .hamburger {
      .navbar-toggler-icon {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media (min-width: 426px) {
  .logo-header-desktop {
    display: flex;
    a { 
      margin: auto;
      img {
        height: 150px;
      }
    }
  }
  .mobile-nav {
    display: none!important;
  }
  .navbardesk {
    display: flex!important;
  }
}