* {
  // border: solid;
  // border-width: 1px;
  
  body {
    background-color: black;
    background: linear-gradient(to bottom,rgba(0,0,0)15%,transparent,rgba(0,0,0,1)105%), url('https://imgur.com/F53SiD2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  h1.title {
    color: white;
    text-align: center;
  }

  p {
    color: white;
  }
  .logo-header-desktop {
    display: none;
    background-color: black;
  }
  .mobile-nav{
    
    .logo {
      img{
        height: 100px;
      }
    }
    .hamburger {
      .navbar-toggler {
        display: none!important;
      }
      .navbar-toggler-icon {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media (min-width: 426px) {
  .logo-header-desktop {
    display: flex;
    a { 
      margin: auto;
      img {
        height: 150px;
      }
    }
  }
  .mobile-nav {
    display: none!important;
  }
  .navbardesk {
    display: flex!important;
  }
}