.tours {
    background-color: black;
    width: 90%;
    max-width: 500px;
    margin: auto;
    .entry {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        p{
            display: flex;
            text-align: center;
            margin: auto;
            margin-top: 10px;
            max-width: 90%;
        }
    }
}